
.grid-container {
    display: grid;

    width: 100%;
    max-width: 80rem;
}


.container {
    background-color: #f0f0f0;

    height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.container-heading {
    background-color: #1A73E8;
    color: #fff;

    padding: 1vh;
    width: 100%;
    height: 15%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-weight: 500;

}

.container-content {
    background-color: #F5F5F5;

    width: 100%;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center; 
}

#price,#size,#cat {
    margin: 1vh;
    max-height: 250px;
}

#revenue {
    max-height: 250px;
}

#summary {
    color: black;
}

@media screen and (min-width: 480px)  {
    .grid-container {
        grid-template-columns: repeat(12, 1fr);
    }

    .container:nth-child(1),
    .container:nth-child(2) {
        grid-row-start: 1;
        grid-column: span 6;
    }
    .container:nth-last-child(-1n + 3) {
      grid-column: span 4;
    }
}


@media screen and (max-width: 480px) {
    body{
        background-color: #1A73E8; 
    }

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .container {
        grid-column: span 1;
    }
}