

.filter-col {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    
    gap: 5px;

    width: 90%;
    height: fit-content;
    overflow: scro;
    max-width: 80rem;
}



#filter-days {
    grid-template-columns: repeat(7, 1fr);
}

#filter-pr {
    grid-template-columns: repeat(6, 1fr);
}
#filter-period {
    grid-template-columns: repeat(4, 1fr);
}
#filter-cat {
    grid-template-columns: repeat(4, 1fr);
}
#filter-size {
    grid-template-columns: repeat(5, 1fr);
}

@media screen and (max-width: 480px) {

    .filter-col{
        grid-template-columns: repeat(4, 1fr);
    }

    #filter-days {
        grid-template-columns: repeat(2, 1fr);
    }

}

.check-container {
    background-color: #00459e; 
    color: #fff;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
    
    border-radius: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;

    height: fit-content;
    min-width: fit-content;
    width: 70%;
}
