body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('../image/bg-tp.png');
    background-repeat: repeat;
    background-size: auto;
    /* background-color: #121212; */
    background-color: #000000;
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh; 
}

.dashboard {
    max-width: 90rem;
    width: 100%;
    height: fit-content;

    border-radius: 0.5rem; 

    display: flex;
}

@media screen and (max-width: 480px) {
    .dashboard {
        border-radius: none;
    }
}

.main-content {
    width: 100%;

    margin: 10px;
    padding: 20px;
    border-radius: 20px;

    /* background-color: rgb(8, 8, 8); */
    background-color: rgb(29, 29, 29);
     box-shadow: 5px 5px 1px  #d1d1d167;
}

@media screen and (max-width: 480px) {
    .main-content {
        margin: 0px;
        padding: 0px;
       
        box-shadow: none;
    }
}